@font-face {
    font-family: "sss";
    src: url("https://cdn.codeground.org/nsr/fonts/SamsungSharpSans-Bold.woff2") format("woff2"),
         url("https://cdn.codeground.org/nsr/fonts/SamsungSharpSans-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 700;
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size:28px;
    font-family: sss;
    text-align: center;
    z-index:10;
    color: #43c8f5;
}

.background {
    position:  absolute;
    background: #111927;
    display:  block;
    top: 0;
    left: 0;
    z-index: 0;
}