<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Online Education</title>
    <!-- Bootstrap core CSS -->
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">


<form class="form-signin" method="post" action="signin">
  <h1 class="h2 mb-3 font-weight-normal">Online Education🎓</h1>
  <h1 class="h5 mb-3 font-weight-normal">Please sign in</h1>
  <input type="text" name="name" class="form-control" placeholder="Name" required autofocus>
  <input type="email" name="email" class="form-control" placeholder="Email address" required>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{messages[0]}}");
        </script>
    {% endif %}
{% endwith %}
  </body>
</html>
