<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bag List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/dic.css">
  </head>
  <body>
    <div class="container">
        <h1>Bag List</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <td class="name"><b>Name</b></td>
              <td class="value"><b>Describe</b></td>
            </tr>
          </thead>
          <tbody>
            <% for(var i=0; i < names.length; i++) { %>
              <tr>
                <td class="name"><%= names[i] %></td>
                <td class="value"><%= bag[names[i]] %></td>
              </tr>
            <% } %>
          </tbody>
        </table>
    </div>
  </body>
</html>


