<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sctf2019.manife">

    <permission
        android:protectionLevel="signature"
        android:name="com.sctf2019.manife.provider.READ_PERMISSION" />

    <permission
        android:protectionLevel="signature"
        android:name="com.sctf2019.manife.provider.WRITE_PERMISSION" />

    <uses-permission android:name="com.sctf2019.manife.provider.READ_PERMISSION" />
    <uses-permission android:name="com.sctf2019.manife.provider.WRITE_PERMISSION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:appComponentFactory="com.sctf2019.manife.ManifeFactory"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:enabled="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:appComponentFactory">

        <activity
            android:name=".MainActivity"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".HashProvider"
            android:enabled="true"
            android:exported="true"
            android:authorities="com.sctf2019.manife"
            android:readPermission="com.sctf2019.manife.provider.READ_PERMISSION"
            android:writePermission="com.sctf2019.manife.provider.WRITE_PERMISSION"/>

        <service
            android:name=".AttestationService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sctf2019.manife.service.START_ACTION" />
            </intent-filter>
        </service>

        <meta-data
            android:name="api_secret_key"
            android:value="a323eb1e-61b2-4a6a-b6f9-0a5c6ada7dec" />
    </application>

</manifest>