{% extends "layout.html" %}

{% block body %}
{% if admin %}
<body style="background-color: black; background-image:url(/static/agker.png);background-repeat: no-repeat;background-size:100% 1100px">
    <header>
        <div style="display: flex; justify-content: center; margin-top: 400px">
            <h1 style="color: #53ff1a">flag{to_flip_or_not_to_fl1p}</h1>
        </div>
    </header>
</body>
{% else %}
<body style="background-color: black; background-image:url(/static/ad.png);background-repeat: no-repeat;background-size:100% 100%">
    <header>
        <div style="display: flex; justify-content: center; margin-top: 400px">
        </div>
    </header>
</body>
{% endif %}
{% endblock %}