asgiref==3.5.0
attrs==21.4.0
autobahn==22.3.2
Automat==20.2.0
backports.zoneinfo==0.2.1
blis==0.7.6
catalogue==1.0.0
certifi==2021.10.8
cffi==1.15.0
channels==3.0.4
charset-normalizer==2.0.12
ChatterBot==1.0.8
constantly==15.1.0
cryptography==36.0.2
cymem==2.0.6
daphne==3.0.2
Django==4.0.3
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.3.1/en_core_web_sm-2.3.1.tar.gz
hyperlink==21.0.0
idna==3.3
incremental==21.3.0
mathparse==0.1.2
murmurhash==1.0.6
numpy==1.22.3
plac==1.1.3
preshed==3.0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyOpenSSL==22.0.0
python-dateutil==2.8.2
pytz==2021.3
PyYAML==5.4.1
requests==2.27.1
service-identity==21.1.0
six==1.16.0
spacy==2.3.5
SQLAlchemy==1.3.24
sqlparse==0.4.2
srsly==1.0.5
thinc==7.4.5
tqdm==4.63.0
Twisted==22.2.0
txaio==22.2.1
typing_extensions==4.1.1
urllib3==1.26.9
wasabi==0.9.0
zope.interface==5.4.0
